*{
    padding: 0;
    margin: 0;
}
.nav{
    background-color: rgb(141, 218, 141);
    margin: 0;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
}

.nav ul{
    width: 20%;
    list-style-type: none;
    padding: 0;
    display: flex; 
    justify-content: space-around;  

}

.nav ul li{
    background-color: rgb(26, 26, 58);
    padding: 5px 10px;
    border-radius: 5px;
}

.nav a{
    text-decoration: none;
    COLOR: white;

}